@font-face {
	font-family: "Flaticon";
	src: url("assets/css/1-tools/flaticon.eot");
	src: url("assets/css/1-tools/flaticon.eot#iefix") format("embedded-opentype"),
	url("1-tools/flaticon.woff") format("woff"),
	url("1-tools/flaticon.ttf") format("truetype"),
	url("assets/css/1-tools/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 16px; 
line-height: 10px;
}.flaticon-clothes7:before {
	content: "\e000";
}
.flaticon-facebook:before {
	content: "\e001";
}
.flaticon-instagram:before {
	content: "\e002";
}
.flaticon-linkedin:before {
	content: "\e003";
}
.flaticon-pinterest:before {
	content: "\e004";
}
.flaticon-behance:before {
	content: "\e005";
}
.flaticon-twitter:before {
	content: "\e006";
}
