<section class="section-form">
	<h3 id="form">Drop me a message</h3>

	<form action="//formspree.io/cameron.m.newby@gmail.com"method="POST">

		<div class="contact-info-group">
			<label><span>Your Name</span>
		    <input type="text" name="name"></label>

		    <label><span>Your Email</span>
		    <input type="email" name="_replyto"></label>
		</div>

	    <label><span>Your Message</span>
	    <textarea name="message"></textarea></label>
	    <div class="submit-wrap">
	    	<input type="submit" value="Send">
		</div>

	</form>

</section>