<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 style="enable-background:new 0 0 80 80;" xml:space="preserve">
<image style="overflow:visible;" width="80" height="80" xlink:href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAgEASABIAAD/7AARRHVja3kAAQAEAAAAHgAA/+4AIUFkb2JlAGTAAAAAAQMA
EAMCAwYAAAIdAAADFAAABf3/2wCEABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoX
Hh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQEABEQ8PERMRFRISFRQRFBEUGhQWFhQaJhoaHBoa
JjAjHh4eHiMwKy4nJycuKzU1MDA1NUBAP0BAQEBAQEBAQEBAQP/CABEIAFAAUAMBIgACEQEDEQH/
xACgAAACAwEBAAAAAAAAAAAAAAADBQACBAEHAQEBAQAAAAAAAAAAAAAAAAAAAQIQAAEEAQMEAwEA
AAAAAAAAAAMAAQIEBRESFBAgEwYhIhYwEQABAwICBQgKAgMAAAAAAAABAgMEABEhEhAxQVFhcZGh
sTLSM0Mg8MEiUnKSI4OTgeJishMSAAIBBAMAAAAAAAAAAAAAAAAhECBAAUERMeH/2gAMAwEAAhED
EQAAAPQJFAWm8wsjOCq7IIaKG4t2YWgK48l1qmWNajLrJqxslcx1msZga9LdCpqAWFy66FjNZMca
LdgMWwV2CHgA/NB1XuxzDJQ3gEy2o0iyDMOGwJvIf//aAAgBAgABBQDu0WjLT+GrL4T9/wD/2gAI
AQMAAQUA7mZnW1ltbr8Jnd300boztprFO7ad3//aAAgBAQABBQDpYy8fK1HK2V+exsl+exsU9HK1
lXy8fL1MY+VPWqgqC7LNUFsQTHxR1l7BdtWsKoA9iAGjNpw5MVyYp7UGaLtKNqsK2DEWC7aDcnKo
YR7nYe/SC0gpeOMX3Btq+3Gyvr32xqFN2nLcYvHmpwmJ3mGMmEMltew/XG+vfGNVqDvAcIjgrTtG
Mihd68ozMvYftjaD8bKo0iMXzwXngvPBeUaruTer78nKZeuXbVsitgKNij40lx3XHdTqvKLMzNas
iqAxFcu1GCfFHrWgWxdlm0CqIIT5U/WxiI+Vr2VrL9DjYr9DjZJ72VsqviG8vT//2gAIAQICBj8A
uf/aAAgBAwIGPwCraNink8M5fUuFX//aAAgBAQEGPwDQY0BozJI7QSbNo+deqs0yaWUnyooy2/Ir
GvvBx473HFk9BFfaDjJ2FDiwekms0OaXkjypQzX/ACJxoRp7RhyT2Qo3bX8i9XoLiRFluE2csmSn
Ws7W2z1n1IZjoDbadg28Tv8ARLMhAcbVsOziN1IiS1lyE4csaSrWg7G3D1H1FNQIxtJmEpCvgbHb
XzUiOyMraBYcd5PLQKwo5rgZRfUL0Fi9lC43414bn0Krw3PoVRJQ4ANfuKoKGoi4/mlx3hmbWLHh
uI5KdgSTeTDISVfG2ewvmqbMVilkiKzwy4udOguEXXmViSTtOw0tI/5thCikJUtQOHC9dtn9i+9X
bZ/YvvUTdtf+KVrueAxoNNKKWwUe7e4xKU7b79EKYnBLxMV3jmxb6aS7tecccPKVkezQtpWCgSpP
FKje9KS2cqEYKXYElW4XvqrxT9KO7SDnzhSwkgpTqPIKsRiNZtgOU04pYuUZCnr9mhTu1lxtwcoW
B7aDW1lxxBHELJ9ugLRcOIIyka7KNjQQnUNDajgkOJJO4UoB5IQs3UNv8U8pBun3QCNWA0Ka2vON
tjlKwfZU2GrBLxEprjmwc6dCsxcSgAZS2ARqxvga8V7mT3a8V7mT3a8V7mT3a8R36U92lg5y3YWK
wAb431AaIUNOKWSZTvDLg3001PjC8mGSoJ+Ns9tHNSJDJzNrFxw3g8lKbVqULV5f6/7V5f6/7V5f
6/7UUktgHAkN4/7UANQwFLkPHK2gXPHcBy07Pki0mYQop+BsdhHNoXLiILkJw5pEZOtB2uNjrHqA
9HWHG1bRs4Hd6JekLDbadp6hvpEuWgtwmzmjxla1nY44Ooep0mTAdMOSe0Ui7a/nRqrLMhF5I82K
c1/xqxr7ynGTucbWD0A19lTjx3NtrJ6QKyw4RZSfNlHLb8acaEme6ZkkdkqFm0fIjVp//9k=" transform="matrix(0.9999 0 0 0.9999 0 0)">
</image>
</svg>