<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 style="enable-background:new 0 0 80 80;" xml:space="preserve">
<image style="overflow:visible;" width="80" height="80" xlink:href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAgEASABIAAD/7AARRHVja3kAAQAEAAAAHgAA/+4AIUFkb2JlAGTAAAAAAQMA
EAMCAwYAAAIlAAADBQAABYf/2wCEABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoX
Hh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQEABEQ8PERMRFRISFRQRFBEUGhQWFhQaJhoaHBoa
JjAjHh4eHiMwKy4nJycuKzU1MDA1NUBAP0BAQEBAQEBAQEBAQP/CABEIAFAAUAMBIgACEQEDEQH/
xAChAAACAwEBAAAAAAAAAAAAAAAABQIDBAEHAQEAAwEAAAAAAAAAAAAAAAAAAQIDBBAAAQQCAAYD
AQEAAAAAAAAABAECAwUAECAREiITFCEGFjAxEQABAwICBwYGAwEAAAAAAAABAgMEABEhEhAxQVFh
oTIgcbHBUiPwkeFyQ4PRIkITEgACAQIHAQAAAAAAAAAAAAABEQAQMSAwQFFhkQIS/9oADAMBAAIR
AxEAAAD0AFBbDfcLBmCqbKkuFDcW7MLQAAOJpt2ZRbZvjZK6c/WaxmHBLNuLjZp1WPYyz5RYzWRX
jRbsKktrK+6x+SrmARQV7sYyUNwpuWxGgsBnThkVNwP/2gAIAQIAAQUA40Tnnxy0ic8+ERV5rr/M
Vef8P//aAAgBAwABBQDjaxXLyZ0aYxXL2sa9/Uuk7Ee9XLx//9oACAEBAAEFANEW7fKgNqTn56td
n56tbig2o2D27fLuaae1nGFgEi4CRYC4oZp6qfLciXpFGiEg4LGym8lbZuc4oaIuCoIl6QE9m12q
oiG2z1leyG0hrgJnkYenrWv17urdKqIllZLMuVQs0k2vsPbW/XvitxVREsrJZlyvAcU5jGsbr7D3
VoC+ta4QQO6YwOQSSvAcU5jGsbs9fZtLceXpFJiLgNZOQaNDPMOxjY2bKJiEgqB5enJoZ6qcYqAu
LgJKgFihhntZ9kVDfKh1qNn6Gtbn6GtdinWpOD1CeXX/2gAIAQICBj8A1P8A/9oACAEDAgY/AMaE
II+T57dUJsBHUF3uJxkf/9oACAEBAQY/ANBjQGjMkjqCTZtH3r1VmmTSyk/iijLb9isa94OPHe44
snkRXtBxk7ChxYPMms0OaXkj8UoZr/sTjQjT2jDknpCjdtf2L1dhcSIstwmzlkyU61na22fE/BDM
dAbbTsG3id/ZLMhAcbVsOziN1IiS1lyE4csaSrWg7G3D4H4FNQIxtJmEpCvQ2OtfypEdkZW0Cw47
ye/sllklsINlK1KJ/igxINyo2QvjuNLjvDM2sWPDcR3U7Akm8mGQkq9bZ6F/KpsxWKWSIrPDLi5z
7FzgBrNBMY2Qg3KvUR5V/wBG7IlIGI3/AEoOOAoSyoE31lSTe2iFMTgl4mK7xzYt86S7tecccPeV
keWm5wAossmzQ6ler6aA+CUNoOKvVw0qd2suNuDvCwPOg1tZccQRxCyfPRc6qLDJ9odSvV9NGdeD
KdZ38BQQgZUpwAGlTW15xtsd5WD5VNhqwS8RKa45sHOegwnsA4nqvbXsrKrFB6F76zK/qynWd/AU
EIGVKcAB2IUNOKWSZTvDLg3zpqfGF5MMlQT62z1o+VIkMnM2sXHDeD3U6W0KVY5RYH/OFFic3dI6
VE/25UEIGVKcAB2FyHjlbQLnjuA76dnyRaTMIUU+hsdCPloXLiILkJw5pEZOtB2uNjxHwA9HWHG1
bRs4Hd2S9IWG207T4DfSJctBbhNnNHjK1rOxxweA+DpMmA6Yck9RSLtr+9GqssyEXkj8sU5r/rVj
XvKcZO5xtYPIGvZU48dzbayeYFZYcIspP5ZRy2/WnGhJnumZJHSVCzaPsRq0/wD/2Q==" transform="matrix(0.9999 0 0 0.9999 0 0)">
</image>
</svg>