<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 style="enable-background:new 0 0 80 80;" xml:space="preserve">
<image style="overflow:visible;" width="80" height="80" xlink:href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAgEASABIAAD/7AARRHVja3kAAQAEAAAAHgAA/+4AIUFkb2JlAGTAAAAAAQMA
EAMCAwYAAAIdAAAC9gAABZ//2wCEABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoX
Hh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQEABEQ8PERMRFRISFRQRFBEUGhQWFhQaJhoaHBoa
JjAjHh4eHiMwKy4nJycuKzU1MDA1NUBAP0BAQEBAQEBAQEBAQP/CABEIAFAAUAMBIgACEQEDEQH/
xACfAAADAQEBAQAAAAAAAAAAAAAABAUDAgEHAQEBAQEBAAAAAAAAAAAAAAAAAQIDBBAAAAUCBQUA
AwAAAAAAAAAAAAIDBAUQASARMRITIjIUBhYhIzQRAAEDAQUEBgkEAwAAAAAAAAECAwQSABEhQVEQ
MWEycaGxwVIjIPCRInITM0ODkrJTc0JiYxIBAQEBAAAAAAAAAAAAAAAAARAgMP/aAAwDAQACEQMR
AAAA+gBINeH9iYUwld0sTYkVya4jUBVpO1MxN96jSbmOGKdKXJ7TmUwn0J11GMzt6r1CbS4+UmU5
kz5UmuGyjals4Dfei2o3jiS3k5mlIrhjtN5KhMCnij0ZVwP/2gAIAQIAAQUAxW1yF9aF1BtaW1F9
cX//2gAIAQMAAQUAxF1yBtaE7srA/dQvcDd2L//aAAgBAQABBQCjiXLy2YyrkfPRph89GlF2Mq2D
eXLy1WWXlV2zVBolgctUHaSKy8UuJdwrtatkmiAfGOUllXGXK4yYmOZMOmyTtCIcK7WFvJlaSWfB
vKMxG3sZCj+3jSvr3VG0mTnI18hcc64hjnO1p7D0xvr34jaTn8lIP+SnsPVGsL+NK0kbG4dxx+wR
17mRo/v5MpLt1drVyk7QEjlx2uTLoyjr24g6cpNEIhurtCyK8Uu2dIO0sDl0g1SRRXlV6uIgvLZ9
Kth9DGlH0MaYXfSrkN4i3LT/2gAIAQICBj8A5ken/9oACAEDAgY/ANEaRpHf/9oACAEBAQY/ANhj
QGjMkjmCTc2j417rVTJpZSftRRTd+RWNvODjx1ccWT1EW8oOMnIocWD1k2qhzS8kfalCq/8AInGw
jT2jDknlCje2v4F7vQXEiLLcJs0yZKd6zm22e0+pDMdAbbTkM+J19EsyEBxtWRy4jSyIktZchOGm
NJVvQcm3D2H1FmoEY3SZhKQrwNjnX7LIjsiltAuHHUnp2NlCqPfFRvpwpVYedjcL/M/0I18VvrY3
fyf87tfFZZWqv38DfVhSnv2LjvCptYuPDQjos7Akm+TDISVeNs8i/ZabMVilkiKzwpxc69qTUEgL
BVeLyRccANbVXkJXghNIJQdV4WprFSMXFUi5Q0RhlZShylZIBFxGAwO7bCmJwS8TFd41Yt9dku5v
OOOHpKyO7akoUUn5gxBuyVb6i/1G31F/qNllaio/MOJN+Sdqnc2XG3B0hYHfYNZsuOII4hZPftR/
YP2q2r/sP7U7VNZvONtjpKwe602GrBLxEprjVg517UkKKblAkJxKhcfdFqvNuXhQL72+O7G1JU5e
3iVXG5zUJww4WUo1C9ZNKt6cBhthQ04pZJlO8KcG+uzU+ML5MMlQT42zzo9lkSGTU2sXjhqD0bGw
RUFOAEY+FWlgfljEDNXgK9dbfTG7VX8deutlgCkBe7E/4pOexch40toF546AdNnZ8kXSZhCinwNj
kR7Ni5cRBchOGqRGTvQc3Gx2j1AejrDjasxlwOnol6QsNtpzPYNbIly0FuE2ao8ZW9ZyccHYPU7T
JgOmHJPMUi9tfxo3WpmQi8kfdimq/wDGrG3nKcZOjjaweoG3kqceOjbayesC1MOEWUn7so03fjTj
YSZ7pmSRylQubR8CN23/2Q==" transform="matrix(0.9999 0 0 0.9999 0 0)">
</image>
</svg>